* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #d9fbe3;
}
table tr td{
  padding: 0;
  text-align:center;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: #6688bb;
  color: #ddeeff;
  text-shadow: 2px 2px 4px #2636f6;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s, letter-spacing 0.3s, text-shadow 0.3s;
}
button:hover {
  background-color: #0688bb;
  color: #33dd44;
  font-size: 0.75em;
  letter-spacing: 1px;
}
button.selected {
  background-color: #66a8bb;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s, letter-spacing 0.3s, text-shadow 0.3s;
}
button.selected:hover {
  background-color: #0668bb;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #787fc7;
}
button img {
  background-color: transparent;
}
datalist#key-signature-datalist {
  line-height: 0.5em;
}
#music-notation-canvas {
  position: static;
  border: 1px solid black;
}
#notationConsole {
  position: fixed;
  top: 0;
  left: 400;
  background-color: #112240;
  color: #33ffee;
  border-radius: 6px;
  height: 520px;
  width: 500px;
  font-family: helvetica;
  font-size: 12px;
  overflow: scroll;
  word-wrap: break-word;
  text-shadow: 2px 2px 4px #9999bb;
}
#notationConsole span {
  margin: 0px 4px 0px 4px;
  padding: 2px;
  background-color: #444444;
  border: 1px solid #33dd44;
  border-radius: 2px;
  transition: font-size 1s;
}
div#notationConsole span:hover {
  font-size: 1.06em;
}
div#notationConsole a {
  color: #dddddd;
}

#notationConsole a {
  color: #f41239;
}

#notationConsole a:hover {
 color: #a47269;
}

.notationConsoleLineNumbers {
  color:#ddddef;
  background-color: #335599;
  font-family: monospace;
  font-size:16px;
}

a#instruction-manual-link {
  font-size: 16px;
  transform: rotate(90deg);
  letter-spacing: 6px;
  text-transform: uppercase;
  text-decoration: none;
  position: fixed;
  top: 110px;
  left: 257px;
  z-index: 5;
  color: #39ccb3;
  height: 28px;
  width: 250px;
  background-color:#193355;
  border-radius: 3.2px;
  padding-top: 5px;
  text-align: center;
  transition: color 0.1s, letter-spacing 0.1s, background-color 0.8s;
}
a#instruction-manual-link:hover {
  color: #49ffc9;
  letter-spacing: 5px;
  background-color: #060264;
}
